@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --backgroud-color: #d6a9ff;
    --primary-color: #f85821;
    --secondary-color: #fD0017;
    --white-color: #fff;
    --grey-color: gray;
    --border-radius: 0.3rem;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Courier New', Courier, monospace;
}

.container {
    background-color: var(--grey-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-container {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    background-color: var(--backgroud-color);
    padding: 2rem;
    border-radius: var(--border-radius);
}

.login-container p {
    color: var(--white-color);
}

h1 {
    color: var(--primary-color);
}

input {
    border: none;
    outline: none;
    /* border-bottom: 2px solid var(--primary-color); */
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 2rem;
    transition: 0.3s ease-in-out;
}

input:hover {
    border-bottom-color: var(--secondary-color);
}

button {
    border: none;
    height: 3rem;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: 0.3s ease-in-out;

}

button:hover {
    background-color: var(--secondary-color);
}